<%= simple_form_for([@movie,@review]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div id="star_rating"></div>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<script>
 $('#star_rating').raty({
   scoreName: 'review[rating]'
 })
</script>
